{{!-- account-deletion.hbs --}}
{{#> layout}}
    <h2>Account Deletion Confirmation</h2>
    <p>Hello {{username}},</p>
    <p>We're sorry to see you go. Your account has been successfully deleted.</p>
    <p>If you change your mind, you can reactivate your account within the next 30 days by clicking the button below:</p>
    <div style="text-align: center;">
        <a href="{{reactivateLink}}" class="button">Reactivate Account</a>
    </div>
    <p>After 30 days, your data will be permanently deleted from our systems.</p>
    <p>We appreciate the time you spent with us and welcome you back anytime.</p>
{{/layout}}