{{!-- password-changed.hbs --}}
{{#> layout}}
    <h2>Password Changed Successfully</h2>
    <p>Hello {{username}},</p>
    <p>This email confirms that your password was changed on {{timestamp}}.</p>
    <p>If you did not make this change, please contact our support team immediately at {{supportEmail}}.</p>
    <div class="alert">
        <p>For security reasons, we recommend:</p>
        <ul>
            <li>Enabling two-factor authentication if you haven't already</li>
            <li>Reviewing your recent account activity</li>
            <li>Updating your security questions</li>
        </ul>
    </div>
{{/layout}}