<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Verify Your Email</title>
</head>
<body>
    <h1>Welcome to Crypto Portfolio Tracker!</h1>
    <p>Please verify your email address by clicking the link below:</p>
    <p><a href="{{verificationUrl}}">Verify Email Address</a></p>
    <p>If you didn't create an account, you can safely ignore this email.</p>
    <p>If you need any help, please contact us at {{supportEmail}}.</p>
</body>
</html>
